/* UNIVERSAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif {
  font-family: "Noto Serif", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(245, 248, 255, 255);
}

/* SHARED STYLES */

.font-16 {
  font-size: 1rem;
}

/* HEADER STYLES */

header {
  max-width: 1140px;
  margin: 0 auto 120px auto;
}

/* NAV STYLES */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 22px 0;
}

nav ul a {
  text-decoration: none;
}

/* BANNER STYLES */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 100px;
}

.banner-content {
  max-width: 50%;
}

.banner-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-content p {
  font-size: 1.46rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.banner-image {
  max-width: 50%;
}

.banner-image img {
  width: 100%;
  display: block;
  flex: 1;
}

/* CARD STYLES */

.card {
  max-width: 1140px;
  margin: 0 auto 210px auto;
}

.card-title {
  text-align: center;
  margin-bottom: 50px;
}

.card-title h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.card-title p {
  max-width: 864px;
  margin: 0 auto;
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

.card-content {
  text-align: center;
}

.card-image {
  max-width: 100%;
}

.card-image img {
  width: 100%;
}

.card-description {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.card-description h3 {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: rgba(17, 17, 17, 1);
}

.card-description h4 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgba(17, 17, 17, 1);
}

.card-description button {
  padding: 26px 50px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(233, 90, 8, 1);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  cursor: pointer;
}

/* LIST STYLES */

.list {
  max-width: 1140px;
  margin: 0 auto 130px auto;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-image {
  position: relative;
}

.list-image:nth-child(1) {
  max-width: 100%;
}

.list-image img:nth-child(1) {
  width: 100%;
}

.list-image img:nth-child(2) {
  position: absolute;
  right: -93px;
  top: -127px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.25));
}

.list-content {
  max-width: 540px;
}

.list-content h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 1);
}

.list-content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 2em;
  margin-left: 0;
}

.list-content ul li {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* DEALS STYLES */

.deals{
  max-width: 1140px;
  margin: 0 auto 120px auto;
}

.deals-title{
  text-align: center;
  margin-bottom: 120px;
}

.deals-title h1{
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.deals-title p{
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.deals-images{
  max-width: 100%;
  display: flex;
  gap: 28px;
  /* justify-content: space-between; */
  text-align: center;
}

.deals-images, a{
  color: #ffffff;
}

.deals-images a{
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.deals-first-column-images{
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 35%;
  flex: 1;
}


.deals-first-column-images h3{
  font-size: 1.25rem;
  font-weight: 700;
}

.deals-first-column-images h4{
  font-size: 1rem;
  font-weight: 600;
  padding: 26px 50px;
}

.first-row{
  padding: 65px 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}

.second-row{
  padding: 60px 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}

.deals-second-column-images{
  border-radius: 22px;
  padding: 170px 150px 150px 147px;
  max-width: 65%;
  flex: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.deals-second-column-images h3{
  font-size: 2.5rem;
  font-weight: 700;
}

.deals-second-column-images h4{
  font-size: 1.75rem;
  font-weight: 600;
  padding: 26px 50px;

}

/* SUBSCRIBE STYLES */

.subscribe {
  background-image: url(/assets/news-letter-bg.png);
  margin-bottom: 50px;
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
  padding: 200px 300px;
}

.subscribe-content {
  max-width: 830px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-content h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 23px;
  color: rgba(255, 255, 255, 1);
}

.input-content {
  display: flex;
  margin: 0 auto;
}

.input-content input {
  border: none;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 20px;
  background-color: rgba(255, 255, 255, 1);
  max-width: 77%;
  flex: 1;
}

.input-content button {
  padding: 26px 50px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(233, 90, 8, 1);
  max-width: 23%;
  flex: 1;
  cursor: pointer;
}

.input-content input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* FOOTER STYLES */

.footer-container{
  max-width: 1120px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
}

.footer-title-description{
  font-size: 1.375rem;
  font-weight: 400;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.footer-list-one, .footer-list-two{
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(107, 114, 128, 1);
}

.footer-links{
  display: flex;
  align-items: center;
  gap: 24px;
  
}

